@import "/src/assets/utils/index.scss";

.profile {
  padding: 0 30px;
  height: 100vh;
  overflow-y: hidden;
}

.form {
  &__buttons {
    margin-top: 10px;
  }
}

.standard-form {
  height: 43%;
}

.password-form {
}
