@import "/src/assets/utils/index.scss";

.card {
  height: 110px;
  display: flex;
  align-items: center;
  margin: 35px 0;
  border-radius: 10px;
  padding-left: 15px;
  box-shadow: 3px 7px 22px -6px;

  &__info {
    width: 65%;
  }

  &__id {
    font-family: "dosis-medium";
    margin: 0;
  }

  &__name {
    font-family: "dosis-bold";
    font-size: 1.75rem;
    margin: 0;
  }

  &__labels {
    display: flex;
  }

  &__sprite {
    width: 35%;
    position: relative;
    height: 100%;

    img {
      width: 120px;
      position: absolute;
      bottom: 10px;
      right: 15px;
    }
  }
}
